@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Outfit:wght@100..900&family=Quicksand:wght@300..700&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=Quicksand:wght@300..700&family=Varela+Round&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

/* Additional custom styles can be added below */

.font-cherry {
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 300;
  font-size: 2rem;
}

.font-nunito {
  font-family: "Nunito", system-ui;
}

* {
  @apply font-nunito;
}

